# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of data science tools
- Demonstrate basic arithmetic operations
- Convert minutes to hours using Python expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Kumiko Tsubota